name = "prettier_ada"
description = "A library to create formatters for any language."
version = "25.0.0-20240625"

authors = ["AdaCore"]
maintainers = ["JoaÌƒo Azevedo <azevedo@adacore.com>"]
maintainers-logins = ["joaopsazevedo"]
licenses = "Apache-2.0"
website = "https://github.com/AdaCore/prettier-ada"
tags = ["format", "prettier"]

[environment.'case(os)'.macos.DYLD_LIBRARY_PATH]
append = "${CRATE_ROOT}/lib/relocatable/prod"

[environment.'case(os)'.windows.PATH]
append = "${CRATE_ROOT}/lib/relocatable/prod"

[[depends-on]]
gnatcoll         = "*"
vss              = "*"
