# This file contains patterns to exclude from the packaging into a .vsix
.vscode-test.mjs
.vscode-test/
advanced/
node_modules/
out/test/
src/
test/
.eslintrc.json
.gitignore
.prettierrc
debug.code-workspace
run_grammar_tests.sh
tsconfig.json
**/*.ts
**/*.ts.map
xfail.yaml
vscode-test-win-workaround.py
